<!DOCTYPE html>
<link rel="stylesheet" tyle="text/css" href = "css/style.css">
<link href='//fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<html>
  <head><title>Turtle</title>
  <style type="text/css">body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-1/nat71.ani), url(http://cur.cursors-4u.net/nature/nat-1/nat71.png), progress !important;}</style><a href="http://www.cursors-4u.com/" target="_blank" title="Turtle"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Turtle" style="position:absolute; top: 0px; right: 0px;" /></a></head>
  
<body>

<h1>This turtle is running</h1>



</body>
</html>